@{
    ViewBag.Title = "Treino de cadastro";
}

<main>
        <h1 id="title">@ViewBag.Title</h1>
        <p class="lead">Esta pagina é uma aplicação feita para treinar conceitos basicos do .net framework</p>
</main>